
.index {
  .common-tools, .life-tools {
    margin: 20px;
  }

  .at-card__header-title {
    color: #F44336;
  }

  .content-inner__text {
    color: #F44336;
    font-size: 28px !important;
  }
}

