.container {
  .nut-tabs__titles {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    //.nut-tabs__titles {
    //  background-color: #eb4035;
    //}
    //
    .nut-tabs__titles-item__text {
      color: white;
    }
    //
    //.nut-tabs__titles-item__line {
    //  color: gold;
    //}
    //
    //.active {
    //  background-color: gold;
    //}

    .list {

      box-sizing: border-box;
      height: 93vh;
    }
  }

  .nut-tabpane {
    padding: 0 !important;
    .list{
      padding-top: 45px;
    }
  }
}
