.at-search-bar {
  //background-color: #eb4035;
  //background-color: #F49FB6;

}

.searchbar__action-text {
  //background-color: gold;
  color: #fff;
}

.search-result {
  //margin: 100px 0 20px 0;



  .explain-title {
    font-size: 30px;
    font-weight: bold;
  }

  .explain-info {
    margin: 10px 0;
    display: block;
    color: grey;
  }
}
