
.info-city {

  .city-text {
    font-size: 45px;
    font-weight: bold;
    vertical-align: bottom; /*底对齐*/
  }

  .city-level {

    margin: 0 20px;
  }


  .city-qrcode {
    color: #F5F2F0;
    background-color: #eb4035;
    //background-color: #AAD0D9;
    float: right;
    width: 200px;
    border: 0;
  }

}
