.container {

  .travel {
    background-color: #eb4035;
    //background-color: #AAD0D9;

    .travel-from {
      .at-button {
        background-color: #eb4035;
        //background-color: #AAD0D9;
        border: 0;
        border-radius: 0;
        font-size: 48px;
        color: #F5F2F0;
      }

    }

    .travel-to {
      .at-button {
        background-color: #eb4035;
        //background-color: #AAD0D9;
        border: 0;
        border-radius: 0;
        font-size: 48px;
        color: #F5F2F0;
      }

    }


    .search {
      .at-button {
        border: 0;
        right: 10px;
        top: 20px;
        width: 92px;

      }
    }
  }

  .search-result {
    margin: 20px;

    .city-text{
      font-size: 45px;
      font-weight:bold;
      vertical-align:bottom;   /*底对齐*/
    }
    .city-level{
      margin-left: 20px;
    }


  }

}
