.container {
  .province {
    background-color: #eb4035;

    .select-province{
      color: white;
      font-size: 38px;
      vertical-align:bottom;   /*底对齐*/
    }
    .select-btn{
      background-color: gold;
      //background-color: #e93649;
      color: white;
      border: 0.1px solid white;
      margin:0 10px 5px 0;
    }


  }
  .info{
    margin: 20px;
    .item-content__info-title{
      color: #eb4035;
    }
  }
}
